.Talla{

border: 1px black solid;

}
.fondo{

    background-color: rgb(255, 255, 255);
    border: 5px solid;
    border-color: rgb(172, 172, 172);
}
.Talla2{

    border: 1px red solid;
}
body {
    background-image: url(img/Hexagon1.jpg);
}