<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-primary bg-light fixed-top">

        <a href="{% url 'index' %}" id="logo" class="rounded">
        </a>
    
        <button class="navbar-toggler bg-dark navbar-dark" type="button" data-toggle="collapse" data-target="#menu">
            <span class="navbar-toggler-icon"></span>
          </button>
    
        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link bglink rounded" href="{% url 'hombres' %}">
                        HOMBRE
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bglink rounded" href="{% url 'mujeres' %}">
                        MUJER
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link bglink rounded" href="{% url 'ninos' %}">
                        NIÑO
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link bglink rounded"  href="{% url 'contacto' %}">
                        C0NTACTO
                    </a>
                </li>
            </ul>
    
    
            <form class="form-inline ">
                <input class="form-control" type="search" placeholder="¿Qué desea buscar?" aria-label="Buscar">
                <button class="btn btn-outline-dark ml-3" type="submit">Buscar</button>
            </form>
    
            <a href="." >
                <i class="material-icons-outlined mx-3" style="color: black;font-size: 40px;">
                    shopping_bag
                </i>
            </a>
            <a href="{% url 'crear_cuenta' %}">
                <span class="material-icons-outlined mt-1" style="font-size: 40px; color: black;">
                    person_outline
                </span>
            </a>
    
        </div>
    </nav>


<div class="container">
    <h1 class="bg-dark text-light mb-0 text-center pt-3" style="height: 80px;">MUJERES</h1>
    <div class="row">
        {% for x in zapatillas%}
        <div class="col-6 col-sm-4 col-md-4 col-lg-3 p-0"> 
            <div class=" tarjeta rounded">
                <img src="{{ x.foto.url}}" class="img-fluid imagen rounded"  alt="">  
                <h6 class="font-weight-bold text-left mt-2 ml-3 cat">{{ x.genero.nombre }}</h6>
                <h6 class="font-weight-bold text-left ml-3">Zapatillas {{ x.modelo }}</h6>
                <h6 class="m-0 text-left ml-3 pb-5">${{ x.precio }}</h6>
                <a href="{% url 'mostrarZapatilla' x.idZapatilla %}" class="stretched-link"></a>
            </div>   
        </div>
        {% endfor %}

    </div>
</div>








<footer class="footer">

</footer>


</body>
</html>