
@media (min-width: 1200px) {  
    .container { max-width: 1500px; 
    }
}
@media (max-width: 991px) {  
    .espacio{
        margin-top: 10%;
    }
}
body {
    background-image: url(../img/Hexagon1.jpg);
    margin-top: 5%;
}

#logo{
    width: 100px;
    height: 55px;
    background: no-repeat;
    background-image: url(../img/logo/logox.png);
}
#logo:hover{

    background-image: url(../img/logo/logox2.png);
    background-color: black;
}
.bglink{
    color: black;
  }
  .bglink:hover{
      background-color: black;
      color:white;
  }
  .navbar .navbar-collapse {
      text-align: center;
  }
.fondo{

        background-color: rgb(255, 255, 255);
        border: 5px solid;
        border-color: rgb(172, 172, 172);
}
.arrow-next{
    color: black;
    background-color: white;
    border-radius: 20px;
  }
  
.anim{
    color: black;
}
.anim:hover{
    color: white;
    background-color: black;
    border-radius: 5px;
}

.user-dropdown .dropdown-menu {
    left: 50% !important;
    transform: translateX(-50%) !important;
    top: 100% !important;
  }