<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/style2.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script type="text/javascript">
      $(document).ready(function(){
        $(".rut").mask("00.000.000-0");
          

      });
      

    </script>  
    
    <title>Usuarios</title>
    
</head>
<body>

  <nav class="navbar navbar-expand-md navbar-primary bg-light fixed-top">

    <a href="{% url 'index' %}" id="logo" class="rounded">
    </a>

    <button class="navbar-toggler bg-dark navbar-dark" type="button" data-toggle="collapse" data-target="#menu">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link bglink rounded" href="{% url 'hombres' %}">
                    HOMBRE
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link bglink rounded" href="{% url 'mujeres' %}">
                    MUJER
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link bglink rounded" href="{% url 'ninos' %}">
                    NIÑO
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link bglink rounded"  href="{% url 'contacto' %}">
                    C0NTACTO
                </a>
            </li>
        </ul>


        <form class="form-inline" action="{% url 'buscar'  %}" method="POST" >
            {% csrf_token %}
            <input for="buscar" id="buscar" name="buscar" class="form-control" type="search" placeholder="¿Qué desea buscar?" aria-label="Buscar">
            <button class="btn btn-outline-dark ml-3" type="submit" >Buscar</button>
        </form>

        <a href="{% url 'carrito' %}" >
            <i class="material-icons-outlined mx-3" style="color: black;font-size: 40px;">
                shopping_bag
            </i>
        </a>
        {% if user.is_authenticated%}
    <a href="{% url 'usuario' %}">
      <span class="material-icons-outlined mt-1" style="font-size: 40px; color: black;">
          person_outline
      </span>
    </a>
    <a href="{% url 'logout' %}">
      <span class="material-icons-outlined mt-1 ml-4" style=" font-size: 36px; color: black;">
        logout
      </span>
    </a>   
    {%else %}
    <a href="{% url 'crear_cuenta' %}">
      <span class="material-icons-outlined mt-1" style="font-size: 40px; color: black;">
          person_outline
      </span>
    </a>
    {% endif %}

    </div>
</nav>
<div class="container bg-light cont">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-5 mt-5" >
        <H1 class="text-center">¡Inicia Sesión!</H1>
        <h6 class="text-center">Y asegurate de tener tu información siempre contigo</h6>
        <div class="text-center">
          <button type="button" class="btn btn-outline-dark mt-5" id="btn-mostrar-login">Iniciar sesión</button>
        </div>
        
          
          {% if messages %}
            {% for i in messages %}
            <script>
            Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: '{{i}}',
            timer: 3000
          });</script>
            {% endfor %}
          {% endif %}

          {% if messages %}
            {% for c in messages %}
            {% if c.tags == "error" %}
            <script>
            Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: '{{c}}',
            timer: 3000
          });</script>
          {% else %}
          <script>
          Swal.fire({
            icon: 'success',
            text: '{{c}}',
            timer: 3000
          });</script>
          {% endif %}
            {% endfor %}
          {% endif %}
        
        <div id="contenido-login">
        <form action="{% url 'sesion' %}" method="POST" class="mt-5 " id="formulario_sesion">
          {% csrf_token %}
              <div class="form-group row">
                <label for="username" class="col-2 col-form-label">Rut:</label>
                <div class="col-10">
                  <input type="text" placeholder="Ingrese su Rut" class="form-control rut" autocomplete="off" name="username" id="username" required maxlength=9>
                </div>
              </div>

              <div class="form-group row">
                
                <label for="password" class="col-2 col-form-label">Contraseña</label>
                <div class="col-10 ">
                  <input class="form-control" type="password" placeholder="Contraseña" id="password" name="password">
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-outline-dark" id="mostrar-login" >Iniciar sesión</button>
            </div>
        </form>
        
        </div>

          <br>
          <br>
    </div>
        <div class="col-12 col-md-6 col-lg-5 mt-5">
            <H1 class="text-center">¡Se parte de Wild Fang!</H1>
            <h6 class="text-center">Realiza compras de manera segura y rapida ingresando con tu cuenta</h6>
            <div class="text-center">
              <button type="button" class="btn btn-outline-dark mt-5" id="btn-mostrar-registro">Registrarse</button>
            </div>
            <div id="contenido-registro">
              
            <form action="{% url 'regUser' %}" method="POST" class="mt-5" id="unhide" name="registro">
              {% csrf_token %}    
              <div class="form-group row">
                    <label for="rut" class="col-2 col-form-label">Rut</label>
                    <div class="col-10">
                      <input type="text" placeholder="Ingrese su Rut" class="form-control rut" autocomplete="off" name="rut" required maxlength=9>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="nombre" class="col-2 col-form-label">Nombre</label>
                    <div class="col-10 ">
                      <input class="form-control" type="text" placeholder="Nombre" id="nombre" name="nombre">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="apellido" class="col-2 col-form-label">Apellido</label>
                    <div class="col-10 ">
                      <input class="form-control" type="text" placeholder="Apellido" id="apellido" name="apellido">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="fechaNac" class="col-2 col-form-label">Fecha de nacimiento</label>
                    <div class="col-10 ">
                      <input class="form-control" type="date"  placeholder="" id="fechaNac" name="fechaNac">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="mail" class="col-2 col-form-label">Email</label>
                    <div class="col-10">
                      <input class="form-control" type="email" placeholder="Mail"  id="mail" name="mail">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="clave" class="col-2 col-form-label">Contraseña</label>
                    <div class="col-10 ">
                      <input class="form-control" type="password" placeholder="Contraseña" name="clave" id="clave">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="clave-confirmar" class="col-2 col-form-label">Confirmar Contraseña</label>
                    <div class="col-10 ">
                      <input class="form-control" type="password" placeholder="Confirmar Contraseña" name="clave-confirmar" id="clave-confirmar">
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-outline-dark" onclick="nombreUsuario">Registrarse</button>
                  </div>
                </form>
            
            </div>
              <br>
              <br>
        </div>
        
    </div>
    <div class="row">
      <div class="col-md-12 text-center"  >
       <a href="{% url 'recuperar' %}">¿OLVIDASTE TU CONTRASEÑA?</a> 
       <br><br>
      </div>
    </div>
</div>

<script type="text/javascript">

      $("#contenido-login").hide();
      $("#contenido-registro").hide();

      $("#btn-mostrar-login").click(function() { /// Al hacer click formulario inicio
        $("#contenido-login").toggle();
    
        if ($( "#contenido-login" ).is( ":visible" )) {
          $("#btn-mostrar-login").hide();
          $("#contenido-registro").hide();
          $("#btn-mostrar-registro").show();
        }
    
    });
    
    $("#btn-mostrar-registro").click(function() { /// Al hacer click formulario registro
        $("#contenido-registro").toggle();
        
        if ($( "#contenido-registro" ).is( ":visible" )) {
          $("#btn-mostrar-registro").hide();
          $("#contenido-login").hide();
          $("#btn-mostrar-login").show();
        }
    
    });
    

    </script>
    
</body>
<footer class="text-center text-lg-start bg-light text-muted mt-5">
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">

      <div class="row mt-3">

        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Wild Fang
          </h6>
          <p>
            Tienda dedicada a la venta de sneakers/zapatillas de las marcas mas top en el mundo.
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <h6 class="text-uppercase fw-bold mb-4">
            Productos
          </h6>
          <p>
            <a href="{% url 'hombres' %}" class="text-reset">Hombres</a>
          </p>
          <p>
            <a href="{% url 'ninos' %}" class="text-reset">Niños</a>
          </p>
          <p>
            <a href="{% url 'mujeres' %}" class="text-reset">Mujeres</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <h6 class="text-uppercase fw-bold mb-4">
            Links
          </h6>
          <p>
            <a href="{% url 'carrito' %}" class="text-reset">Carrito</a>
          </p>
          <p>
              {% if user.is_authenticated %}
              <a href="{% url 'usuario' %}" class="text-reset">Cuenta</a>
              {% else %}
              <a href="{% url 'crear_cuenta' %}" class="text-reset">Cuenta</a>
              {% endif %}
          </p>
          <p>
              {% if user.is_authenticated %}
              <a href="{% url 'usuario' %}" class="text-reset">Ordenes</a>
              {% else %}
              <a href="{% url 'crear_cuenta' %}" class="text-reset">Ordenes</a>
              {% endif %}
          </p>
          <p>
            <a href="{% url 'contacto' %}" class="text-reset">Ayuda</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Contacto
          </h6>
          <p><i class="material-icons  me-3">place</i>Av. Andrés Bello 2425, Providencia, Región Metropolitana</p>
          <p>
            <i class="material-icons me-3">alternate_email</i>
             wildfang@soporte.com
          </p>
          <p><i class="material-icons  me-3">call</i> +56 9 1414 9429</p>
          <p><i class="material-icons  me-3">call</i> +56 22 3912 1293</p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="{% url 'index' %}">Wild Fang</a>
  </div>
</footer>
</html>
