<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/style2.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script type="text/javascript">
      $(document).ready(function(){
        $("#rut").mask("00.000.000-0");
      
        $('#mostrar-login').click(function(){
          
      });
      });
      

    </script>  
    
    <title>Usuarios</title>
    
</head>
<body>

  <nav class="navbar navbar-expand-md navbar-primary bg-light fixed-top">

    <a href="{% url 'index' %}" id="logo" class="rounded">
    </a>

    <button class="navbar-toggler bg-dark navbar-dark" type="button" data-toggle="collapse" data-target="#menu">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link bglink rounded" href="{% url 'hombres' %}">
                    HOMBRE
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link bglink rounded" href="{% url 'mujeres' %}">
                    MUJER
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link bglink rounded" href="{% url 'ninos' %}">
                    NIÑO
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link bglink rounded"  href="{% url 'contacto' %}">
                    C0NTACTO
                </a>
            </li>
        </ul>


        <form class="form-inline ">
            <input class="form-control" type="search" placeholder="¿Qué desea buscar?" aria-label="Buscar">
            <button class="btn btn-outline-dark ml-3" type="submit">Buscar</button>
        </form>

        <a href="." >
            <i class="material-icons-outlined mx-3" style="color: black;font-size: 40px;">
                shopping_bag
            </i>
        </a>
        {% if user.is_authenticated%}
        <a href="">
          <span class="mt-1" style="color: black;">
              {{ user.username }}
          </span>
        </a>
        <a href="{% url 'logout' %}">
          <span class="mt-1 ml-4" style="color: black;">
              Cerrar Sesion
          </span>
        </a>
        {%else %}
        <a href="{% url 'crear_cuenta' %}">
          <span class="material-icons-outlined mt-1" style="font-size: 40px; color: black;">
              person_outline
          </span>
        </a>
        {% endif %}


        

    </div>
</nav>
<div class="container bg-light">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-5 mt-5" >
        <H1 class="text-center">¡Inicia Sesión!</H1>
        <h6 class="text-center">Y asegurate de tener tu información siempre contigo</h6>
        <div class="text-center">
          <button type="button" class="btn btn-outline-dark mt-5" id="btn-mostrar-login">Iniciar sesión</button>
        </div>
        <script>
          
          {% if messages %}
            {% for i in messages %}
            Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: '{{i}}',
            timer: 3000
          });
            {% endfor %}
          {% endif %}

        </script>
        
        <div id="contenido-login">
        <form action="{% url 'sesion' %}" method="POST" class="mt-5 " id="formulario_sesion">
          {% csrf_token %}
              <div class="form-group row">
                <label for="username" class="col-2 col-form-label">Nombre de usuario:</label>
                <div class="col-10">
                  <input class="form-control" type="text" placeholder="Nombre de usuario"  id="username" name="username" required>
                </div>
              </div>

              <div class="form-group row">
                
                <label for="password" class="col-2 col-form-label">Contraseña</label>
                <div class="col-10 ">
                  <input class="form-control" type="password" placeholder="Contraseña" id="password" name="password">
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-outline-dark" id="mostrar-login" >Iniciar sesión</button>
            </div>
        </form>
        
        </div>

          <br>
          <br>
    </div>
        <div class="col-12 col-md-6 col-lg-5 mt-5">
            <H1 class="text-center">¡Se parte de Wild Fang!</H1>
            <h6 class="text-center">Realiza compras de manera segura y rapida ingresando con tu cuenta</h6>
            <div class="text-center">
              <button type="button" class="btn btn-outline-dark mt-5" id="btn-mostrar-registro">Registrarse</button>
            </div>
            <div id="contenido-registro">
              
            <form action="{% url 'regUser' %}" method="POST" class="mt-5" id="unhide" name="registro">
              {% csrf_token %}    
              <div class="form-group row">
                    <label for="rut" class="col-2 col-form-label">Rut</label>
                    <div class="col-10">
                      <input type="text" placeholder="Ingrese su Rut" class="form-control" autocomplete="off" name="rut" id="rut" required maxlength=9>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="nombre" class="col-2 col-form-label">Nombre</label>
                    <div class="col-10 ">
                      <input class="form-control" type="text" placeholder="Nombre" id="nombre" name="nombre">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="apellido" class="col-2 col-form-label">Apellido</label>
                    <div class="col-10 ">
                      <input class="form-control" type="text" placeholder="Apellido" id="apellido" name="apellido">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="fechaNac" class="col-2 col-form-label">Fecha de nacimiento</label>
                    <div class="col-10 ">
                      <input class="form-control" type="date"  placeholder="" id="fechaNac" name="fechaNac">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="mail" class="col-2 col-form-label">Email</label>
                    <div class="col-10">
                      <input class="form-control" type="email" placeholder="Mail"  id="mail" name="mail">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="clave" class="col-2 col-form-label">Contraseña</label>
                    <div class="col-10 ">
                      <input class="form-control" type="password" placeholder="Contraseña" name="clave" id="clave">
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-outline-dark" onclick="nombreUsuario">Registrarse</button>
                  </div>
                </form>
            
            </div>
              <br>
              <br>
        </div>
        
    </div>
    <div class="row">
      <div class="col-md-12 text-center"  >
       <a href="{% url 'recuperar' %}">¿OLVIDASTE TU CONTRASEÑA?</a> 
       <br><br>
      </div>
    </div>
</div>

<script type="text/javascript">
      $("#contenido-login").hide();
      $("#contenido-registro").hide();
    
      $("#btn-mostrar-login").click(function() { /// Al hacer click formulario inicio
        $("#contenido-login").toggle();
    
        if ($( "#contenido-login" ).is( ":visible" )) {
          $("#btn-mostrar-login").hide();
          $("#contenido-registro").hide();
          $("#btn-mostrar-registro").show();
        }
    
    });
    
    $("#btn-mostrar-registro").click(function() { /// Al hacer click formulario registro
        $("#contenido-registro").toggle();
        
        if ($( "#contenido-registro" ).is( ":visible" )) {
          $("#btn-mostrar-registro").hide();
          $("#contenido-login").hide();
          $("#btn-mostrar-login").show();
        }
    
    });
    
    </script>
    
</body>
</html>
