<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static 'home/js/carrito.js' %}"></script>
    <title>Wild Fang</title>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-primary bg-light fixed-top">

        <a href="{% url 'index' %}" id="logo" class="rounded">
        </a>
    
        <button class="navbar-toggler bg-dark navbar-dark" type="button" data-toggle="collapse" data-target="#menu">
            <span class="navbar-toggler-icon"></span>
          </button>
    
        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link bglink rounded" href="{% url 'hombres' %}">
                        HOMBRE
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bglink rounded" href="{% url 'mujeres' %}">
                        MUJER
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link bglink rounded" href="{% url 'ninos' %}">
                        NIÑO
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link bglink rounded"  href="{% url 'contacto' %}">
                        C0NTACTO
                    </a>
                </li>
            </ul>
    
    
            <form class="form-inline" action="{% url 'buscar'  %}" method="POST" >
                {% csrf_token %}
                <input for="buscar" id="buscar" name="buscar" class="form-control" type="search" placeholder="¿Qué desea buscar?" aria-label="Buscar">
                <button class="btn btn-outline-dark ml-3" type="submit" >Buscar</button>
            </form>

            <a href="{% url 'carrito' %}" >
                <i class="material-icons-outlined mx-3" style="color: black;font-size: 40px;">
                    shopping_bag
                </i>
            </a>
            {% if user.is_authenticated%}
        <a href="{% url 'usuario' %}">
          <span class="material-icons-outlined mt-1" style="font-size: 40px; color: black;">
              person_outline
          </span>
        </a>
        <a href="{% url 'logout' %}">
          <span class="material-icons-outlined mt-1 ml-4" style=" font-size: 36px; color: black;">
            logout
          </span>
        </a>
        {%else %}
        <a href="{% url 'crear_cuenta' %}">
          <span class="material-icons-outlined mt-1" style="font-size: 40px; color: black;">
              person_outline
          </span>
        </a>
        {% endif %}
    
        </div>
    </nav>
<br><br>
<br><br>
<div class="container ">
    <div id="control-galeria" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#control-galeria" data-slide-to="0" class="active"></li>
            <li data-target="#control-galeria" data-slide-to="1"></li>
            <li data-target="#control-galeria" data-slide-to="2"></li>
            <li data-target="#control-galeria" data-slide-to="3"></li>
          </ol>
        <div class="carousel-inner">

          <div class="carousel-item active"> 
                <img class="d-block w-100" src="{% static 'home/img/banner/banner1.png' %}" >
            <div class="carousel-caption ">
                <h2 class="bannnomb">Air Jordan 1 Mid Red</h2>
            </div>
                <a class="boton-link btn" href="{% url 'mid_air_red' %}"> Comprar</a>
          </div>
          
          <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'home/img/banner/banner2.png' %}" >
                <div class="item">
                    <div class="carousel-caption ">
                        <h3 class="bannnomb">Air Jordan 1 Low Laser Blue</h3>
                    </div>
                  </div>
                  <a class="boton-link btn" href="{% url 'mid_air_blue' %}"> Comprar</a>
           </div>
          
          <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'home/img/banner/banner3.png' %}" >
                <div class="item">
                    <div class="carousel-caption ">
                        <h3 class="bannnomb">Air Jordan 1 Mid Deep Blue</h3>
                    </div>
                    <a class="boton-link btn" href="{% url 'mid_air_purple' %}"> Comprar</a>
                </div>
          </div>

          <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'home/img/banner/banner4.png' %}" >
                <div class="item">
                    <div class="carousel-caption ">
                        <h3 class="bannnomb">Air Jordan 1 Mid Light Gray</h3>
                    </div>
                  </div>
                <a class="boton-link btn" href="{% url 'mid_air_gray' %}"> Comprar</a>
          </div>

        </div>
        
        <a class="carousel-control-next" href="#control-galeria" role="button" data-slide="next">
            <i class="material-icons arrow-next" style="color: black;
                                                        background-color: white;
                                                        border-radius: 20px;" aria-hidden="true">chevron_right</i>
          <span class="sr-only">Siguiente</span>
        </a>
      </div>
</div>
<br><br><br><br>
<div class="container ">
  <div class="row carousel-title justify-content-between bg-dark rounded  text-light">
      <h2 class="ml-2">Hombres</h2>
      <a href="{% url 'hombres' %}" class="h5 mt-2 mr-2" style="color: white;">Ver todo</a>
      </div>
  <div class="row">
      {% for x in zapatillasHombre%}
      <div class="col-6 col-sm-4 col-md-4 col-lg-2 p-0"> 
          <div class=" tarjeta rounded">
              <img src="{{ x.foto.url }}" class="img-fluid rounded mostrador"  alt="">  
              <h6 class="font-weight-bold text-left mt-2 ml-3 cat">{{ x.genero.nombre}}</h6>
              <h6 class="font-weight-bold text-left ml-3">Zapatillas {{ x.modelo }}</h6>
              <h6 class="m-0 text-left ml-3 pb-5">${{ x.precio }}</h6>
              <a href="{% url 'mostrarZapatilla' x.idZapatilla%}" class="stretched-link"></a>
          </div>
        </div>
        {% endfor %}
     </div>  
</div>
        <br><br><br><br>
<div class="container ">
    <div class="row carousel-title justify-content-between bg-dark rounded  text-light">
        <h2 class="ml-2">Mujeres</h2>
        <a href="{% url 'mujeres' %}" class="h5 mt-2 mr-2" style="color: white;">Ver todo</a>
        </div>
    <div class="row">
        {% for x in zapatillasMujer%}
        <div class="col-6 col-sm-4 col-md-4 col-lg-2 p-0"> 
            <div class=" tarjeta rounded">
                <img src="{{ x.foto.url }}" class="img-fluid rounded mostrador"  alt="">  
                <h6 class="font-weight-bold text-left mt-2 ml-3 cat">{{ x.genero.nombre}}</h6>
                <h6 class="font-weight-bold text-left ml-3">Zapatillas {{ x.modelo }}</h6>
                <h6 class="m-0 text-left ml-3 pb-5">${{ x.precio }}</h6>
                <a href="{% url 'mostrarZapatilla' x.idZapatilla%}" class="stretched-link"></a>
            </div>
          </div>
          {% endfor %}
       </div>  
</div>

<br><br><br><br>
<div class="container ">
    <div class="row carousel-title justify-content-between bg-dark rounded  text-light">
        <h2 class="ml-2">Niños</h2>
        <a href="{% url 'ninos' %}" class="h5 mt-2 mr-2" style="color: white;">Ver todo</a>
        </div>
    <div class="row">
        {% for x in zapatillasNino%}
        <div class="col-6 col-sm-4 col-md-4 col-lg-2 p-0"> 
            <div class=" tarjeta rounded">
                <img src="{{ x.foto.url }}" class="img-fluid rounded mostrador"  alt="">  
                <h6 class="font-weight-bold text-left mt-2 ml-3 cat">{{ x.genero.nombre}}</h6>
                <h6 class="font-weight-bold text-left ml-3">Zapatillas {{ x.modelo }}</h6>
                <h6 class="m-0 text-left ml-3 pb-5">${{ x.precio }}</h6>
                <a href="{% url 'mostrarZapatilla' x.idZapatilla%}" class="stretched-link"></a>
            </div>
          </div>
          {% endfor %}
       </div>  
</div>



</body>
<footer class="text-center text-lg-start bg-light text-muted mt-5">
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
    </section>

    <section class="">
      <div class="container text-center text-md-start mt-5">

        <div class="row mt-3">

          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Wild Fang
            </h6>
            <p>
              Tienda dedicada a la venta de sneakers/zapatillas de las marcas mas top en el mundo.
            </p>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

            <h6 class="text-uppercase fw-bold mb-4">
              Productos
            </h6>
            <p>
              <a href="{% url 'hombres' %}" class="text-reset">Hombres</a>
            </p>
            <p>
              <a href="{% url 'ninos' %}" class="text-reset">Niños</a>
            </p>
            <p>
              <a href="{% url 'mujeres' %}" class="text-reset">Mujeres</a>
            </p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

            <h6 class="text-uppercase fw-bold mb-4">
              Links
            </h6>
            <p>
              <a href="{% url 'carrito' %}" class="text-reset">Carrito</a>
            </p>
            <p>
                <a href="{% url 'usuario' %}" class="text-reset">Cuenta</a>
            </p>
            <p>
                <a href="{% url 'usuario' %}" class="text-reset">Ordenes</a>
            </p>
            <p>
              <a href="{% url 'contacto' %}" class="text-reset">Ayuda</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Contacto
            </h6>
            <p><i class="material-icons  me-3">place</i>Av. Andrés Bello 2425, Providencia, Región Metropolitana</p>
            <p>
              <i class="material-icons me-3">alternate_email</i>
               wildfang@soporte.com
            </p>
            <p><i class="material-icons  me-3">call</i> +56 9 1414 9429</p>
            <p><i class="material-icons  me-3">call</i> +56 22 3912 1293</p>
          </div>
        </div>
      </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="{% url 'index' %}">Wild Fang</a>
    </div>
  </footer>
</html>